In [ ]:
import sqlite3

In [ ]:
connection = sqlite3.connect('OurDataBase.db')

In [ ]:
cursor = connection.cursor()

In [ ]:
cursor.execute('CREATE TABLE employees(name TEXT, surname TEXT, salary REAL)')

In [ ]:
connection.commit()

In [ ]:
cursor.execute("INSERT INTO employees VALUES('Maria','Mayer',100000)")

In [ ]:
connection.commit()

In [ ]:
cursor.execute("SELECT * FROM employees")

In [ ]:
cursor.fetchall()

In [ ]:
cursor.execute("INSERT INTO employees VALUES('Max','Maxwell',100000)")

In [ ]:
connection.commit()

In [ ]:
cursor.execute("SELECT * FROM employees")

In [ ]:
cursor.fetchone()

In [ ]:
for i in cursor.execute("SELECT * FROM employees"):
    print(i)

In [ ]:
name = 'King'
surname = 'Arthur'
salary = 50000

In [ ]:
cursor.execute("INSERT INTO employees VALUES(?,?,?)",(name,surname,salary))

In [ ]:
cursor.execute("SELECT * FROM employees")

In [ ]:
cursor.fetchall()

In [ ]:
name = input('provide a name: ')
surname = input('provide a surname: ')
salary = float(input('provide a salary: '))

In [ ]:
class SQLinput:
    def __init__(self,name,surname,salary):
        self.name = name
        self.surname = surname
        self.salary = salary

In [ ]:
inst = SQLinput('Denzel','Sullivan',10000000)

In [ ]:
name, surname, salary = inst.name, inst.surname, inst.salary

In [ ]:
cursor.execute("INSERT INTO employees VALUES(?,?,?)",(name,surname,salary))

In [ ]:
cursor.execute("SELECT * FROM employees")

In [ ]:
cursor.fetchall()